{# découpe change password #}
{% extends 'default/layout.html.twig' %}
{% block content %}

    <div class="page-wrapper">
        {% if is_granted('ROLE_PROVIDER') %}
            <div class="main">
                <div class="main-inner">
                    <div class="container">
                        <div class="content">
                            <div class="page-title">
                                <h1 style="text-align: center">Provider</h1>
                                <h2 style="text-align: center">New Provider</h2>
                            </div><!-- /.page-title -->
                            {% for message in app.flashes('error') %}
                                <div class="alert alert-danger">
                                    {{ message }}
                                </div>
                            {% endfor %}

                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4">
                                    {% include 'security/form_edit_password.html.twig' %}
                                </div><!-- /.col-sm-4 -->
                            </div><!-- /.row -->

                        </div><!-- /.content -->
                    </div><!-- /.container -->
                </div><!-- /.main-inner -->
            </div><!-- /.main -->
        {% else %}
            {% include 'Exception/error403.html.twig' %}
        {% endif %}

    </div><!--

        </div><!-- /.page-wrapper -->
{% endblock %}