<h3>Signaler un commentaire abusif</h3>

<div class="contact-form-wrapper clearfix background-white p30">
    <form class="contact-form" method="post" action="?">
        <div class="row">

           {# todo:afficher la date #}

        </div><!-- /.row -->

        <div class="form-group">
            <label for="contact-form-message">Message</label>
            <textarea class="form-control" id="contact-form-message" rows="6"></textarea>
        </div><!-- /.form-group -->

        <button class="btn btn-primary pull-right">Post Message</button>
    </form><!-- /.contact-form -->
</div><!-- /.contact-form-wrapper -->