

<button class="bouton_menu" type="button" id="dropdownMenu1" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
    <span class="">Menu</span> <i class="fa fa-chevron-down"></i>
</button>



<li><a href="#">hello {{ app.user.name }}</a></li>

<ul class="dropdown-menu" style="left: 93%; top:38%" aria-labelledby="dropdownMenu1">
    <li> <a href=" {{ path('/admin') }}">Gestion Website</a> </li>

</ul>

