{# FOOTER #}
<footer class="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h2>About us</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Praesent et dolor luctus, maximus tellus et, elementum nisl.
                        Aenean maximus sed nisi in venenatis.
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    </p>
                </div><!-- /.col-* -->

                <div class="col-sm-4">

                </div><!-- /.col-* -->

                <div class="col-sm-4">
                    <h2>Contact us</h2>

                    <p>
                        Your Street 123, Melbourne, Australia<br>
                        +1-123-456-789, <a href="mailto:infos@bien-etre.com">contact@bien-etre.com</a>
                    </p>
                </div><!-- /.col-* -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-top -->

    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-left">
                &copy; 2017 All rights reserved. Created by <a href="talbot-e@hotmail.com">Eric</a>.
            </div><!-- /.footer-bottom-left -->
        </div><!-- /.footer-bottom-right -->
    </div><!-- /.container -->

</footer><!-- /.footer -->
