
<div class="content-admin">
    <div class="content-admin-wrapper">
        <div class="content-admin-main">
            <div class="content-admin-main-inner">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="message">
                                        <h1>Welcome in Dashboard</h1>

                                        <p>Thanks for checking <a href="#">Superlist</a> backend. If you have any questions, feel free to ask your question using ThemeForest's <a href="#">item comments</a> section. Before asking don't forget to check the template <a href="#">documentation</a>.</p>
                                    </div><!-- /.message -->
                                </div><!-- /.col-* -->
                            </div><!-- /.row -->



                            <div class="row">
                                <div class="col-sm-12 col-lg-5">
                                    <h3>Recent Users <a href="#">View All Logs <i class="fa fa-chevron-right"></i></a></h3>

                                    <div class="users">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <td><a class="user" href="#"><img src="assets/img/tmp/agent-1.jpg" alt=""></a></td>
                                                <td class="hidden-xs visible-sm visible-md visible-lg">
                                                    <h2><a href="#">Fiona Wilson</a></h2>
                                                    <h3>Last login: 28/07/1015 10:45</h3>
                                                </td>
                                                <td class="right">
                                                    <a href="#" class="btn btn-xs btn-primary">Edit</a>
                                                    <a href="#" class="btn btn-xs btn-danger">Remove</a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><a class="user" href="#"><img src="assets/img/tmp/agent-2.jpg" alt=""></a></td>
                                                <td class="hidden-xs visible-sm visible-md visible-lg">
                                                    <h2><a href="#">Natasha Samson</a></h2>
                                                    <h3>Last login: 28/07/1015 10:45</h3>
                                                </td>
                                                <td class="right">
                                                    <a href="#" class="btn btn-xs btn-primary">Edit</a>
                                                    <a href="#" class="btn btn-xs btn-danger">Remove</a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><a class="user" href="#"><img src="assets/img/tmp/agent-3.jpg" alt=""></a></td>
                                                <td class="hidden-xs visible-sm visible-md visible-lg">
                                                    <h2><a href="#">Kim Glove</a></h2>
                                                    <h3>Last login: 28/07/1015 10:45</h3>
                                                </td>
                                                <td class="right">
                                                    <a href="#" class="btn btn-xs btn-primary">Edit</a>
                                                    <a href="#" class="btn btn-xs btn-danger">Remove</a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><a class="user" href="#"><img src="assets/img/tmp/agent-4.jpg" alt=""></a></td>
                                                <td class="hidden-xs visible-sm visible-md visible-lg">
                                                    <h2><a href="#">Richard Peterson</a></h2>
                                                    <h3>Last login: 28/07/1015 10:45</h3>
                                                </td>
                                                <td class="right">
                                                    <a href="#" class="btn btn-xs btn-primary">Edit</a>
                                                    <a href="#" class="btn btn-xs btn-danger">Remove</a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td><a class="user" href="#"><img src="assets/img/tmp/agent-5.jpg" alt=""></a></td>
                                                <td class="hidden-xs visible-sm visible-md visible-lg">
                                                    <h2><a href="#">Rachel Fast</a></h2>
                                                    <h3>Last login: 28/07/1015 10:45</h3>
                                                </td>
                                                <td class="right">
                                                    <a href="#" class="btn btn-xs btn-primary">Edit</a>
                                                    <a href="#" class="btn btn-xs btn-danger">Remove</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div><!-- /.users -->

                                </div><!-- /.col-* -->


                            </div><!-- /.row -->
                        </div><!-- /.col-* -->

                    </div>
                </div><!-- /.container-fluid -->
            </div><!-- /.content-admin-main-inner -->
        </div><!-- /.content-admin-main -->

        <div class="content-admin-footer">
            <div class="container-fluid">
                <div class="content-admin-footer-inner">
                    &copy; 2015 All rights reserved. Created by <a href="#">Aviators</a>.
                </div><!-- /.content-admin-footer-inner -->
            </div><!-- /.container-fluid -->
        </div><!-- /.content-admin-footer  -->
    </div><!-- /.content-admin-wrapper -->
</div><!-- /.content-admin -->