<h1>Registration confirmation</h1>
<p>Hello {{ tempuser.email }}!</p> <br/>
<p>Welcome to Annuaire Bien-être 2017/2018 !</p> <br/>
<p>To complete the registration process. Please click on the following link:</p> <br/>
<a href="{{ url('signup-final',{'token':tempuser.token, 'id':tempuser.id, 'typeuser':tempuser.usertype}) }}">
    <input type="button" class="" value="Confirm" /></a>
