{# AFFICHE LA LISTE DES STAGES AU COMPLET #}
{% extends 'default/layout.html.twig' %}
{% block content %}
    <div class="page-header" style="margin-top:0">
        <h2>List Stages</h2>

        </p>
    </div><!-- /.page-header -->


    <div class="container">
        <div class="main-inner">
            <div class="content">


                {% include 'stages/list.html.twig' %}

            </div><!-- /.content -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->

    <div class="pager">
        {# display navigation #}
        {{ knp_pagination_render(stages) }}
    </div>
    </div>
{% endblock %}