{# AFFICHE LA LISTE DES STAGES AU COMPLET #}
{% extends 'default/layout.html.twig' %}
{% block content %}
    <div class="page-header" style="margin-top:0">
        <h2>List Stages</h2>

        </p>
    </div><!-- /.page-header -->
    {% include 'stages/list.html.twig' %}

{% endblock %}