<h3>New comment</h3>

<div class="contact-form-wrapper clearfix background-white p30">
    <form class="contact-form" method="post" action="?">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="contact-form-name">Titre</label>
                    <input type="text" name="titre" id="contact-form-name" class="form-control">
                </div><!-- /.form-group -->
            </div><!-- /.col-* -->

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="contact-form-subject">Date</label>
                    <input type="date" name="contenu" id="contact-form-subject" class="form-control">
                </div><!-- /.form-group -->
            </div><!-- /.col-* -->

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="contact-form-email">cote</label>
                    <input type="number" name="cote" id="contact-form-email" class="form-control">
                </div><!-- /.form-group -->
            </div><!-- /.col-* -->
        </div><!-- /.row -->

        <div class="form-group">
            <label for="contact-form-message">Message</label>
            <textarea class="form-control" id="contact-form-message" rows="6"></textarea>
        </div><!-- /.form-group -->

        <button class="btn btn-primary pull-right">Post Message</button>
    </form><!-- /.contact-form -->
</div><!-- /.contact-form-wrapper -->