{# LISTE DES PROVIDERS RESULTANT DU MODULE DE RECHERCHE #}
{% extends 'default/layout.html.twig' %}
{% block content %}
    <div class="container">

        <u><p>Result Search</p></u>
        <h2> List providers</h2>


        <div>
            {% include 'providers/list.html.twig' %}
        </div>
        <div class="pager">
            {{ knp_pagination_render(providers) }}
        </div>

    </div>


{% endblock %}